/***************************************
Declaration of variables, reset of 
tags and change box model to border-box
****************************************/
* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-font: 'Lato', sans-serif;
    --secondary-font: 'Coustard', serif;
    --main-black: #141313;
    --main-grey: #2A3D39;
    --main-white: #FFF5FF;
    --main-gradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(62,133,238,1) 1.1%, rgba(227,137,240,1) 43.7%, rgba(243,193,124,1) 89.7% );
    --menu-speed: 0.75s;
    background-color: var(--main-black);
    box-sizing: border-box;
    color: var(--main-white);
    font-family: var(--main-font);
    margin: 0;
}

body {
    /* margin: 0 auto; */
    /* max-width: 85%; */
    padding: 0;
    margin: 0;
}

h3, h2 {
    color: var(--main-white);
    font-family: var(--secondary-font);
    font-weight: 400;
    margin-top: 0;
}

/******************
Main Navigation Bar
*******************/
.main-nav {
    align-items: center;
    background-color: var(--main-black);
    display: flex;
    height: 12rem;
    justify-content: center;
    /* margin-left: -2rem; */
    position: sticky;   
    top: 0;
    z-index: 3;
    width:100%;
}

.main-nav ul {
    display: flex;
    font-family: var(--main-font);
    font-size: 1.3rem;
    list-style: none;
    padding: 0;
    position: sticky;
}

.main-nav ul:first-of-type {
    margin-right: 1em;
}

.main-nav > ul:first-of-type {
    position: absolute;
    right: 0; 
    top: .5rem;
} 

#desk-nav {
    width: 40%;
    justify-content: space-between;
}

#desk-nav li {
    border-bottom: 1px solid var(--main-gradient);
    background: var(--main-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.main-nav a {
    color: var(--main-white);
    text-decoration: none;
}

.logo {
    left: 40px;
    position: absolute;
    top: 1.5rem;
    width: 40px;
}

/************
Main content
*************/
main {
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: grid;  
    grid-template-columns: 10% 80% 10%;  
    grid-template-rows: auto;
}

.title {
    align-self: flex-start; 
    justify-self: center;
    font-family: var(--secondary-font);
    font-size: 2rem;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    justify-content: flex-end;
    margin-right: .8rem;
    margin-top: .5rem; 
    position: sticky;
    top: 12rem;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title h1 {  
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.section {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    line-height: 1.8rem;
    margin-bottom: 7rem;
}

a {
    color: inherit;
}

strong {
    font-weight: 1000;
}

.about-me {
    grid-row: 1/2;
}

.content {
    display: block;
    clear: both;
    grid-column: 2/3;
    margin-bottom: 7rem;
}

.hero {
    -webkit-clip-path: circle();
    clip-path: circle();
    float: left;
    margin: 0 1.5rem 1.5rem 0;
    shape-outside: circle(); 
    width: 150px;
}

.content-paragraph  {
    padding-top: 0;
    margin-top: 0;
}

.skills-container {
    margin-top: 4rem;
}

.skills {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.skills > img:last-of-type {
    display: none;
}

.projects img {
    margin: 0.5rem 1.5rem;
    border-radius: 5px;
}

.project {
    display: flex;
}

.container {
    align-items: center;  
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    margin-bottom: 2rem;  
}

.btn {
    background-color: var(--main-grey);
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    margin: .5rem;
    padding: .7rem;
}

#menu-wraps {
    display: none;
}


/************
Contact Form
*************/
.cont-form {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    grid-column: 2/3;
    max-width: 80%;
    margin: 0 auto;
}

.cont-form > input,
.cont-form textarea {
    background-color: transparent;
    border: 2px solid var(--main-white);
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    margin-bottom: .5rem;
    margin-top: 0;
    padding: .5rem;
    width: 100%;
}

.cont-form label {
    font-size: .8rem;
    /* color: var(--main-grey); */
}

.cont-form .btn {
    align-self: center;
    font-size: .8rem;
    width: 6rem;
}

.captcha {
    width: 80px;
}


/********************
Social Navigation Bar
*********************/

.social {
    display: flex;
    flex-flow: column nowrap;
    grid-column: 3/4;
    justify-self: flex-end;
    margin-top: .5rem;
    position: sticky;
    top: 12rem;
}

.linkedin {
    background-image: url('../Icons/linkedin.svg');
}

.twitter {
    background-image: url('../Icons/twitter.svg');
}

.email {
    background-image: url('../Icons/email.svg');
}

.github {
    background-image: url('../Icons/github.svg');
}

.behance {
    background-image: url('../Icons/behance.svg');
}

.dev {
    background-image: url('../Icons/dev.svg');
}

.social div {
    background-repeat: no-repeat;
    height: 40px;
    margin-bottom: 1.5rem;
    width: 40px;
}

#footer-nav {
    display: none;
}

/************
Media queries
*************/
@media screen and (max-width: 800px) {
    .social {
       display: none;      
    }

    .social-mobile {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        align-self: center;
        z-index: 6;
    }

    .social-mobile div {
    background-repeat: no-repeat;
    height: 40px;
    margin-top: 1.5rem;
    width: 40px;
    }

    .title {
        font-size: 1.3rem;
        justify-content: center;
        margin-right: 20px;
    }

    #desk-nav {
        display: none;
    }

    .skills > img:first-of-type {
        display: none;
    }

    .skills > img:last-of-type {
        display: block;
        width: 60%;
    }

    .projects img {
        margin: 0;
        max-width: 100%;
    }

    .section {
        margin-bottom: 3rem;
        grid-column: 1/4;
    }

    .content {
        margin-bottom: 3.5rem;
    }

     .hero {
        width: 100px;
    }

    .email {
        display: none;
    }

    #footer-nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 60px;
        background: var(--main-gradient);
        position: fixed;
        bottom: 0;
    }

    #footer-nav > * {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: var(--main-black);
    }

    #footer-nav span {
        font-size: .5em;
    }

    #contact {
        margin-bottom: 6em;
    }

    .cont-form {
        max-width: 100%;
    }
}

@media screen and (max-width: 1095px) {
    .project {
        flex-flow: column nowrap ;
    }
}

@media (min-width: 1300px) {
    body{
        margin: 0 auto;
        max-width: 1080px;
    }
}  

@media (min-width: 550px) and (max-width: 750px) {
    .main-nav {
        height: 8rem;
    }

    .social,
    .title {
        top: 8rem;
    }
}
