:root {
    box-sizing: border-box;
    margin: 0;
    --main-green: #699990;
    --main-white: #FFF5FF;
    --main-font: 'Rubik', sans-serif;
    --secondary-font: 'Corben', cursive;
    font-family: var(--main-font);
    color: var(--main-white);
    background-color: var(--main-green);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;    
    border: solid var(--main-white);
}

.main-nav ul {
    list-style: none;
    font-family: var(--main-font);
    /* text-transform: uppercase; */
    font-weight: bold;
    display: flex;
    font-size: 1.5rem;
}