/***************************************
Declaration of variables, reset of 
tags and change box model to border-box
****************************************/
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    margin: 0;
    --main-green: #699990;
    --main-white: #FFF5FF;
    --main-grey: rgba(0,0,0,.6);
    --menu-speed: 0.75s;
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Coustard', serif;
    font-family: var(--main-font);
    color: var(--main-white);
    background-color: var(--main-green);
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 85%;
}

h3 {
    margin-top: 0;
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--main-grey);
}

/******************
Main Navigation Bar
*******************/
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;   
    top: 0;
    height: 12rem;
    background-color: var(--main-green);
    z-index: 3;
    margin-left: -2rem;
}

.main-nav ul {
    list-style: none;
    font-family: var(--main-font);
    display: flex;
    font-size: 1.3rem;
    position: sticky;
    padding: 0;
}

.main-nav > ul:first-of-type {
    position: absolute;
    top: .5rem;
    right: 0; 
} 


.main-nav a {
    text-decoration: none;
    color: var(--main-white);
}

.logo {
    position: absolute;
    width: 40px;
    left: 40px;
    top: 1.5rem;
}

/************
Main content
*************/
main {
    display: grid;  
    grid-template-columns: 10% 80% 10%;  
    grid-template-rows: auto;
}

.title {
    position: sticky;
    top: 12rem;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start; 
    margin-top: .5rem; 
    margin-right: .8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 2rem;
}

.title h1 {  
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.section {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    line-height: 1.8rem;
    margin-bottom: 7rem;
}

a {
    color: inherit;
}

strong {
    font-weight: 1000;
}

.about-me {
    grid-row: 1/2;
}

.content {
    grid-column: 2/3;
    display: block;
    clear: both;
    margin-bottom: 7rem;
}

.hero {
    clip-path: circle();
    -webkit-clip-path: circle();
    shape-outside: circle(); 
    float: left;
    margin: 0 1.5rem 1.5rem 0;
}

.content-paragraph  {
    padding-top: 0;
    margin-top: 0;
}

.projects img {
    margin: 0.5rem 1.5rem;
    border: 1px solid var(--main-white);
}

.project {
    display: flex;
}

.container {
    display: flex;
    flex-shrink: 1;
    flex-flow: column nowrap;
    align-items: center;  
    margin-bottom: 2rem;  
}

.btn {
    background-color: var(--main-grey);
    color: inherit;
    /* border: 2px solid var(--main-white); */
    padding: .7rem;
    border-radius: 5px;
    margin: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}

#menu-wraps {
    display: none;
}

.skills {
    font-weight: bold;
    margin-left: 10px;
}

/************
Contact Form
*************/
.cont-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    grid-column: 2/3;
    max-width: 75%;
    margin: 0 auto;
}

.cont-form > input,
.cont-form textarea {
    padding: .5rem;
    margin-bottom: .5rem;
    margin-top: 0;
    background-color: transparent;
    border: 2px solid var(--main-white);
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    width: 100%;
}

.cont-form label {
    font-size: .8rem;
    /* color: var(--main-grey); */
}

.cont-form .btn {
    align-self: center;
    width: 6rem;
    font-size: .8rem;
}

.captcha {
    width: 80px;
}


/********************
Social Navigation Bar
*********************/
.social {
    position: sticky;
    top: 12rem;
    grid-column: 3/4;
    display: flex;
    flex-flow: column nowrap;
    justify-self: flex-end;
    margin-top: .5rem;
}

.linkedin {
    background-image: url('../Icons/linkedin.svg');
}

.twitter {
    background-image: url('../Icons/twitter.svg');
}

.email {
    background-image: url('../Icons/email.svg');
}

.github {
    background-image: url('../Icons/github.svg');
}

.social div {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;
}

/************
Media queries
*************/
@media screen and (max-width: 800px) {
    .social div {
        width: 30px;        
        margin-bottom: .8rem;
    }

    .title {
        font-size: 1.3rem;
        margin-right: 20px;
        justify-content: center;
    }

    #desk-nav {
        display: none;
    }

    .projects img {
        margin: 0;
        max-width: 100%;
    }

    .section {
        margin-bottom: 3rem;
    }

    .content {
        margin-bottom: 3.5rem;
    }

     .hero {
        width: 100px;
    }

}

@media screen and (max-width: 1095px) {
    .project {
        flex-flow: column nowrap ;
    }
}

@media (min-width: 1300px) {
    body{
        max-width: 1080px;
        margin: 0 auto;
    }
}  

@media (min-width: 550px) and (max-width: 750px) {
    .main-nav {
        height: 8rem;
    }

    .social,
    .title {
        top: 8rem;
    }
}
